body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f8fc;
}

header {
    background: #003366;
    padding: 20px;
}

header h2 {
    color: #FFD700;
    font-size: 36px;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #FFD700;
    text-decoration: none;
    font-size: 20px;
}

.hero {
    text-align: center;
    background: #0055A4;
    color: white;
    padding: 20px;
}

.hero img,
.logo {
    display: block;
    margin: 20px auto;
    width: 750px;
}

.card {
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 2px solid #0055A4;
    background: white;
    border-radius: 10px;
}

.card a {
    color: #003366;
    font-weight: bold;
}

.card:hover {
    background: #e6f0ff;
}

footer {
    text-align: center;
    padding: 20px;
    background: #003366;
    color: white;
}

footer p {
    color: #FFD700;
}

footer img {
    width: 60px;
    margin: 0 10px;
}

footer img:hover {
    transform: scale(1.2);
}
